<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Sant Lluis 17</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.5.0/css/all.min.css">
    <link rel="stylesheet" href="css/Estilo_Projecto.css">
    <link rel="stylesheet" href="css/Logo.css">
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <!-- Popper.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <header>
        {{> navigation}}
        <div class="slider">
            <ul>
                <li>
                    <img src="Images/ImagenHouse1.jpg" alt="Imagen 1">
                </li>
                <li>
                    <img src="Images/ImagenHouse2.png" alt="Imagen 2">
                </li>
                <li>
                    <img src="Images/ImagenHouse3.png" alt="Imagen 3">
                </li>
            </ul>
        </div>
    </header>
    <main>
        <section class="content">
            <h1>DISEÑO EN CONEXIÓN CON EL PAISAJE</h1>
            <div class="text-content">
                <p>En el arte de la transformación, Villa Sueño surge como la expresión máxima de la conexión entre el tiempo, el paisaje, la elegancia y la autenticidad. Nuestra inspiración se forja en el idílico Puerto de Andratx, lugar en el que la historia de un antiguo refugio de pescadores se fusiona con la vitalidad cosmopolita del siglo XXI, generando un relato emocional en el que pasado y presente convergen.</p>
                <p>Cada rincón de Villa Sueño es un tributo a la vida, un espacio en el que la elegancia y la simplicidad se funde en una experiencia que celebra la belleza atemporal, despertando una conexión profunda con el entorno que nos rodea.</p>
            </div>
        </section>
    </main>
</body>
</html>
