<div class="card mx-auto">
    <div class="card-body">
        <h1>Hello dear {{user.name}}</h1>
        <p class="lead">Wellcome to the clients area, heare you can see exclusive information about te projects you are interested.</p>
        <p class="lead">As a potential client you can access to sensible information, sutch as building blueprints or more detaild information of the building, for this reason we encourage you to keep this information to your self</p>
        <p class="lead">Thanks for trusting OPW. </p>
        <a href="/notes/mynotes" class="btn btn-success btn-block">View interested projects</a>
    </div>
</div>